/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
}

html, body {
    height: 100%;
    overflow: auto;
}

/* Ensure no other styles are affecting the menu alignment */
body{
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    /* Generic project styles */
    color: #061033 ;
    font-family: 'Chewy', sans-serif;
    height:100%;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: #fe007b65 transparent; 
}

body > nav {
    width: 100%;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Comic Sans MS', sans-serif;
    letter-spacing: 2px;
    color: white;
}

p {
    letter-spacing: 0;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #061033;
    font-family: 'Chewy', sans-serif;
    color:inherit;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 8%;
    align-items: center; 
    visibility: hidden;
}

header > nav {
    margin-right: 30px;
}

/* Style the brand */
#brand {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Vertically center the content within the brand */
    position: absolute;
    justify-content: left;
    padding-left: 1rem;
    list-style-type: none;
    text-decoration: none; 
}

#brand li {
    margin: 0;
}

#logo {
    margin-right: 10px; /* Add margin to the right of the logo */
    max-height: 50px; /* Set a maximum height for the logo */
}

#brand a {
    text-decoration: none;
    color: inherit; /* Adjust text color as needed */
    font-size: 150%;
}

#menu{
    display:none;
}

/* main */
main{
    background-color: #061033;
    display:flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding-top: 8%;
}

main > div{
    padding-left: 15%;
    padding-right: 15%;
}

#hero{
    height: auto;
    min-height: 90vh;
    width: 100vw;
    margin-top: -3%;
    position:relative;
    background-image: url("../images/hero.webp");
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	overflow: auto;
    z-index: 0;
}

.features{
    padding-top: 5%;
}

.title{
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 2%;
}

.features-table {
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Or any other alignment you prefer */
    gap: 20px; /* Space between the cards */
}

.feature-card {
    display: flex; /* Keeps the content aligned flexibly */
    padding: 10px;
    min-height: 15rem; /* Minimum height, but allows expansion based on flex properties */
    background-color: #20f8fcbb;
    border-radius: 40px;
    width: 100%; /*Adjust based on the gap and number of items per row*/
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
    min-width: 250px;
}

.feature-card i {
    margin-right: 20px; /* Adds some space between the icon and the text */
    padding-top: 20px;
    /* Adjust font-size as needed to make the icons larger or smaller */
    font-size: 48px; /* Example size, adjust as needed */
    color: #061033;
}

.feature-card h2,p{
    padding-top: 5px;
    color: #061033;
}

.feature-card p{
    text-align: justify;
    padding: 10%;
    padding-left: 0;
}

/* Ensures the text content is aligned next to the icon */
.feature-card > div {
    display: flex;
    flex-direction: column;
}

.top-spacing{
    padding-top: 4rem;
}

/* footer */
footer {
    position: fixed;
    justify-content: space-around; /* This is applied to the footer itself */
    width: 100vw; /* Set width to 100% of the viewport width */
    background-color: #061033; /* Set the background color */
    padding: 10px; /* Add padding for spacing */
    display: flex;
    bottom: 0;
    left: 0;
}

#menu-mobile {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%; /* Ensure it takes the full width */
    justify-content: space-around; /* This ensures items are evenly spread */
    position: relative;
}

#menu-mobile li {
    flex-grow: 1; /* This makes each list item grow and fill the footer */
    display: flex;
    justify-content: center; /* Center content of each li */
    align-items: center; /* Vertically aligns the content */
}

#menu-mobile a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 180%;
}

#menu-mobile .active {
    background-color: #fe0079 ; /* Style the active menu item */
    border-radius: 20%;
    font-size: 200%;
}

/* Hover effects */

.grow {
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.grow:hover {
	-webkit-transform: scale(1.01);
	    -ms-transform: scale(1.01);
	        transform: scale(1.01);
}

.shake:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
}

.shakev:hover {
    animation: shakev 0.5s ease-in-out;
}

@keyframes shakev {
    0%, 100% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}

div.hover-shadow {
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
}

.hover-shadow:hover{
    box-shadow: 0 5px 15px rgba(254, 0, 121,0.5);
}


/* media queries */
@media screen and (min-width: 576px) {
    *{
        max-width: 100%;
    }
    header{
        visibility: visible;
    }
    #menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end; /* Align the menu to the right side of the screen */
        font-size: 120%;
        letter-spacing: 2px;
    }
    
    #menu li {
        margin: 0;
    }
    
    #menu a {
        text-decoration: none;
        color: white;
        padding: 15px 20px;
        display: block;
    }
    
    #menu a:hover {
        color: #20f9fc; /* Change background color on hover */
    }
    
    #menu .active {
        color: #fe0079 !important; /* Style the active menu item */
    }
    
    #menu-mobile{
        display:none;
    }
}

@media screen and (min-width: 768px) {
    .feature-card{
        width: calc(50% - 20px); /*Adjust based on the gap and number of items per row*/;
    }
}

@media screen and (min-width: 1129px) {
    .feature-card{
        width: calc(33% - 20px); /*Adjust based on the gap and number of items per row*/;
    }

    .diagonal-top-left:hover{
        -webkit-transform: scale(1.01) skew(-0.3deg, -0.5deg); /* Chrome, Safari, Opera */
            -ms-transform: scale(1.01) skew(-0.3deg, -0.5deg); /* IE 9 */
                transform: scale(1.01) skew(-0.3deg, -0.5deg); /* Standard syntax */
    }
    
    .diagonal-top-right:hover{
        -webkit-transform: scale(1.01) skew(0.3deg, 0.5deg); /* Chrome, Safari, Opera */
            -ms-transform: scale(1.01) skew(0.3deg, 0.5deg); /* IE 9 */
                transform: scale(1.01) skew(0.3deg, 0.5deg); /* Standard syntax */
    }
    
    .diagonal-bottom-left:hover{
        -webkit-transform: scale(1.01) skew(-0.3deg, 0.5deg); /* Chrome, Safari, Opera */
            -ms-transform: scale(1.01) skew(-0.3deg, 0.5deg); /* IE 9 */
                transform: scale(1.01) skew(-0.3deg, 0.5deg); /* Standard syntax */
    }
    
    .diagonal-bottom-right:hover{
        -webkit-transform: scale(1.01) skew(0.3deg, -0.5deg); /* Chrome, Safari, Opera */
            -ms-transform: scale(1.01) skew(0.3deg, -0.5deg); /* IE 9 */
                transform: scale(1.01) skew(0.3deg, -0.5deg); /* Standard syntax */
    }    
}