/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
}

html, body {
    height: 100%;
    overflow: auto;
}

/* Ensure no other styles are affecting the menu alignment */
body{
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    /* Generic project styles */
    color: #061033 ;
    font-family: 'Chewy', sans-serif;
}

body > nav {
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-family: 'Chewy', sans-serif;
    letter-spacing: 2px;
    color: white;
}

h2, h3, h4, h5, h6 {
    font-family: 'Comic Sans MS', sans-serif;
    letter-spacing: 2px;
    color: white;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    /* background-color: #061033; */
    font-family: 'Chewy', sans-serif;
    color:inherit;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 8%;
    align-items: center; 
    visibility: hidden;
}

/* Style the brand */
#brand {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Vertically center the content within the brand */
    position: absolute;
    justify-content: left;
    padding-left: 1rem;
    list-style-type: none;
    text-decoration: none; 
}

#brand li {
    margin: 0;
}

#logo {
    margin-right: 10px; /* Add margin to the right of the logo */
    max-height: 50px; /* Set a maximum height for the logo */
}

#brand a {
    text-decoration: none;
    color: inherit; /* Adjust text color as needed */
    font-size: 150%;
}

#menu{
    display:none;
}

/* main */
main{
    background-color: #061033;
    display:flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

#hero{
    height: 90vh;
    width: 100vw;
    position:relative;
    background-image: url("../images/hero.webp");
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	overflow: auto;
    z-index: 0;
}

/* footer */
footer{
    position:fixed;
    justify-content: space-around; /* Divide the screen space evenly */
    width: 100vw; /* Set width to 100% of the viewport width */
    background-color: #061033 ; /* Set the background color */
    padding: 10px; /* Add padding for spacing */
    display: flex;
    bottom: 0;
    left: 0;
}

#menu-mobile {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

#menu-mobile li {
    margin: 0;
}

#menu-mobile a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 180%;
    flex-grow: 1; /* Make each menu item take up all available horizontal space */
}

#menu-mobile .active {
    background-color: #ee5f00; /* Style the active menu item */
    border-radius: 20%;
    font-size:200%;
}

/* Hover effects */

.grow {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.grow:hover {
	-webkit-transform: scale(1.03);
	    -ms-transform: scale(1.03);
	        transform: scale(1.03);
}

.shake:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
}

.shakev:hover {
    animation: shakev 0.5s ease-in-out;
}

@keyframes shakev {
    0%, 100% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}


/* media queries */
@media screen and (min-width: 576px) {
    header{
        visibility: visible;
    }
    #menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end; /* Align the menu to the right side of the screen */
        font-size: 120%;
        letter-spacing: 2px;
    }
    
    #menu li {
        margin: 0;
    }
    
    #menu a {
        text-decoration: none;
        color: white;
        padding: 15px 20px;
        display: block;
    }
    
    #menu a:hover {
        color: #20f9fc; /* Change background color on hover */
    }
    
    #menu .active {
        color: #ee5f00 !important; /* Style the active menu item */
    }

    footer {
        position: absolute;
    }

    #menu-mobile{
        display:none;
    }
}